apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-orders
  labels:
    app: orders
spec:
  replicas: {{ .Values.replicaCount }}

  selector:
    matchLabels:
      app: orders

  template:
    metadata:
      labels:
        app: orders

    spec:
      containers:
        - name: orders-container
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          command:
            - sh
            - -c
            - echo {{ .Values.message }} && sleep 3600